.jumbotron {
  background-image: linear-gradient(to right, #26c583, #148865);
  margin: 0;
  color: white;
}

.navbar {
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0px;
  font-size: large !important;
}

li:hover { 
  background-color: #26c583;
}

.site-footer {
  background-image: linear-gradient(#26c583, #148865);
  padding: 20px;
  margin-bottom: 0;
}








.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046C5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}