.jumbotron {
  background-image: linear-gradient(to right, #26c583, #148865);
  color: white;
  margin: 0px !important;
  position: relative !important;
  padding: 5px !important;
}

.navbar {
  font-size: large !important;
  padding: 0px !important;
  margin: 0px !important;
}

li:hover { 
  background-color: #26c583;
}

#text {
  font-size: 50px;
}

#reservecardtext {
  position: absolute;
  text-align: center;
  top: 125px;
  background-color: transparent;
  color: black;
  height: 600px;
  width: 500px;
  font-size: 50px;
}

.card-img-overlay {
  margin-left: 100px;
}

#reservebutton {
  background-color: #26c583;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  margin: 4px;
  border-radius: 12px;
}

#kittiestext {
  font-size: 50px;
}

#kitties {
  height: 30vw;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  font-size: 30px;
}

#buttonadopt {
  background-color: #26c583;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}

#location {
  font-size: 50px;
}

.site-footer {
  background-image: linear-gradient(#26c583, #148865);
  padding: 20px;
  margin-top: 0 !important;
}
